<div class="container" id="article-page">
    <div class="row">
        <div class="col-12" id="article">
            <div class="row">
                <div class="col-5">
           
                        <img id="article-image" src={{image}} alt="article image">
       
         
                        <a  href={{link}}>
                            <h6 id="link">Go to article</h6>
                        </a>
            

                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col-12">
                            <h1 id="header">{{title}}</h1>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>{{summary}}</p>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    {{#if notes}}
    <div class="row" id="comment-list">
        <div class="col-12" >
            {{#each notes}}
            <p class="comments">{{body}}</p>
            {{/each}}
        </div>
    </div>
    {{/if}}
    <div class="row" id="submit-comment">
        <div class="col-12" id="box">
            <Input type="text" id="comments-input" class="form-control"></Input>
            <button id="make-comment" class="btn btn-danger" data-id={{_id}}>Comment</button>
        </div>
    </div>
</div>